body{
    background-color: #41B3A3;
}
.logout-btn{
    all : unset; 
    margin-left: 1rem;
}

.logout-img:hover{
    opacity: 80%;
}


.register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-link{
    color:white;
}

